body {
	margin: 0;
	padding: 0;
	background: url(../img/Seguridad_informatica2.jpg)no-repeat fixed center center #64FE2E;
	background-size: cover;
}

#wrapper{
	border-radius: 5px;
	background-color: #E6E6E6; 
	height: 550px;
	margin: 0 auto;
	width: 700px;
}

#primero{
	border-radius: 5px;
	background-color: #A9F5F2;
	box-shadow: 0 0 10px rgba(0,0,0,0,3);
	float: left;
	padding: 40px;
	margin-left: 50px;
	margin-top: 20px;
	width: 200px;
}

#segundo{
	border-radius: 5px;
	background-color: #A9F5F2;
	box-shadow: 0 0 10px rgba(0,0,0,0,3);
	float: left;
	padding: 40px;
	margin-left: 50px;
	margin-top: 20px;
	width: 200px;
}

img{
	text-align: center;
	float: left;
	width: 10em;
	height: 10em;
	padding-left: 270px;
}